.section-class {
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 0;
    background: transparent;
}

.section-title-class {
    /*color: var(#F);*/
    text-align: center;
    font-size: 3.25rem;
    font-weight: bold;
    margin-bottom: 6rem;
}

.section-body-class {
}

.section-text-class {
    color: white;
    font-size: 3.125rem;
    line-height: 2.7rem;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.section-text-class p {
    margin-bottom: 4rem;
}

.section-footer-class {
    background: transparent;
    border: 0;
}

@media screen and (max-width: 799px) {
    .section-text-class {
        margin-left: 5%;
        margin-right: 5%;
    }
}